# Database Configuration
CONNECTION_STRINGS__DEFAULT_CONNECTION=Host=your_host_here;Database=your_db_name_here;Username=your_username_here;Password=your_password_here

# Logging
LOGGING__LOG_LEVEL__DEFAULT=Debug
LOGGING__LOG_LEVEL__MICROSOFT_ASPNETCORE=Information

# Other settings
ALLOWED_HOSTS=*

# Environment
ASPNETCORE_ENVIRONMENT=Development